In [68]:
import pandas as pd
import numpy as np

In [69]:
from sklearn.metrics import classification_report
from sklearn.model_selection import train_test_split
from sklearn import tree

In [70]:
df = pd.read_csv("./data/loans.csv")

In [71]:
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [72]:
df.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [73]:
df.Loan_Status=df.Loan_Status.map({'Y':1,'N':0})

In [74]:
df = df.dropna()

In [75]:
df.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [76]:
df.Gender=df.Gender.map({'Male':1,'Female':0})
df.Married=df.Married.map({'Yes':1,'No':0})
df.Dependents=df.Dependents.map({'0':0,'1':1,'2':2,'3+':3})
df.Education=df.Education.map({'Graduate':1,'Not Graduate':0})
df.Self_Employed=df.Self_Employed.map({'Yes':1,'No':0})
df.Property_Area=df.Property_Area.map({'Urban':2,'Rural':0,'Semiurban':1})

In [77]:
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
1,LP001003,1,1,1,1,0,4583,1508.0,128.0,360.0,1.0,0,0
2,LP001005,1,1,0,1,1,3000,0.0,66.0,360.0,1.0,2,1
3,LP001006,1,1,0,0,0,2583,2358.0,120.0,360.0,1.0,2,1
4,LP001008,1,0,0,1,0,6000,0.0,141.0,360.0,1.0,2,1
5,LP001011,1,1,2,1,1,5417,4196.0,267.0,360.0,1.0,2,1

In [109]:
df = df.drop("Loan_ID", 1)
y = df["Loan_Status"]
X = df.drop("Loan_Status", 1)

C:\Users\karmi\AppData\Local\Temp\ipykernel_4660\2843887193.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df = df.drop("Loan_ID", 1)
C:\Users\karmi\AppData\Local\Temp\ipykernel_4660\2843887193.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  X = df.drop("Loan_Status", 1)

In [110]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [112]:
X_train

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
272,1,0,0,1,0,2833,1857.0,126.0,360.0,1.0,0
452,1,1,0,1,0,3948,1733.0,149.0,360.0,0.0,0
593,1,1,0,1,0,3859,3300.0,142.0,180.0,1.0,0
573,1,1,2,0,0,6125,1625.0,187.0,480.0,1.0,1
606,1,1,1,1,0,3400,2500.0,173.0,360.0,1.0,1
...,...,...,...,...,...,...,...,...,...,...,...
193,1,0,0,1,0,3858,0.0,76.0,360.0,1.0,1
289,1,0,0,1,0,9508,0.0,187.0,360.0,1.0,0
611,1,1,1,1,0,8072,240.0,253.0,360.0,1.0,2
22,1,1,0,0,0,2600,1911.0,116.0,360.0,0.0,1
161,1,1,0,1,0,7933,0.0,275.0,360.0,1.0,2

In [116]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

In [117]:
clf = DecisionTreeClassifier()
clf.fit(X_train, y_train)

DecisionTreeClassifier()

In [118]:
pred = clf.predict(X_test)

In [122]:
confusion_matrix = confusion_matrix(y_test,pred)

TypeError: 'numpy.ndarray' object is not callable

In [119]:
print(accuracy_score(y_test,pred))
print(classification_report(y_test,pred))

0.7708333333333334
[[17 10]
 [12 57]]
              precision    recall  f1-score   support

           0       0.59      0.63      0.61        27
           1       0.85      0.83      0.84        69

    accuracy                           0.77        96
   macro avg       0.72      0.73      0.72        96
weighted avg       0.78      0.77      0.77        96